@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bg-gradient-animation {
    animation: backgroundAnimation 8s infinite;
}

.bg-gradient-to-br {
    background: linear-gradient(to bottom right, rgba(0, 0, 255, 0.5), rgba(234, 234, 141, 0.3), rgba(255, 0, 0, 0.5));
    background-size: 200% 200%;
}

.summarization-icon {
    width: 150px;
    height: 150px;
    background: url('https://www.suntec.ai/img/extractive-text-summarization.jpg') center/cover no-repeat;
    border-radius: 50%;
    display: block;
    margin: 30px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: rotate 6s linear infinite;
}
